<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img width="40" alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
    <span>{{ title }}</span>
    <div class="spacer"></div>
    <mat-button-toggle-group name="units" aria-label="Units" #unitSelection="matButtonToggleGroup" value="usImperial" style="margin-right: 20px;">
        <mat-button-toggle value="metric">Metric</mat-button-toggle>
        <mat-button-toggle value="usImperial">US Imperial</mat-button-toggle>
    </mat-button-toggle-group>
</div>
<div class="content" role="main">
    <div>
        <mat-card>
            <mat-card-title>Cost Calculators</mat-card-title>
            <!-- U.S. Imperial Units -->
            <div *ngIf="unitSelection.value == 'usImperial'">
                <mat-form-field appearance="fill">
                    <mat-label>Cost per kWh ($ / kWh)</mat-label>
                    <input matInput placeholder="$ / kWh" [(ngModel)]="INPUT_COST_PER_KWH" type="number">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Miles</mat-label>
                    <input matInput placeholder="Miles" [(ngModel)]="INPUT_COST_MILES" type="number">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Efficiency (Wh / mi)</mat-label>
                    <input matInput placeholder="Efficiency (Wh / mi)" [(ngModel)]="INPUT_COST_EFFICIENCY" type="number">
                </mat-form-field>
                <br />
                <div *ngIf="!(INPUT_COST_PER_KWH == 0 || INPUT_COST_MILES == 0 || INPUT_COST_EFFICIENCY == 0)">
                    <div><strong>{{ getUsdCurrencyStringFromNumber(calculateCostFromEfficiency(INPUT_COST_PER_KWH, INPUT_COST_MILES, INPUT_COST_EFFICIENCY)) }}</strong> for <strong>{{ INPUT_COST_MILES * INPUT_COST_EFFICIENCY / 1000 }} kWh</strong></div>
                    <br />
                    <span>This is the energy same as in <strong>{{ getGasEquivalent(INPUT_COST_MILES, INPUT_COST_EFFICIENCY, Units.GALLONS).toFixed(2) }} gallons</strong> of gasoline, or <strong>{{ getDieselEquivalent(INPUT_COST_MILES, INPUT_COST_EFFICIENCY, Units.GALLONS).toFixed(2) }} gallons</strong> of Diesel.</span>
                    <br />
                    <br />
                    <h4>Compare to the cost of a fossil vehicle:</h4>
                    <mat-form-field appearance="fill">
                        <mat-label>Fuel Efficiency (mi / gal)</mat-label>
                        <input matInput placeholder="mi / gal" [(ngModel)]="INPUT_FOSSIL_MPG" type="number">
                    </mat-form-field>
                    <br />
                    <div *ngIf="INPUT_FOSSIL_MPG !== 0">
                        This is the equivalent if...
                        <br />
                        <span>- gasoline was <strong>{{ getGasPriceEquivalent(INPUT_COST_MILES, INPUT_FOSSIL_MPG, INPUT_COST_EFFICIENCY, Units.MILES) }} / gal</strong>,</span>
                        <br />
                        <span>- if your vehicle's efficiency was <strong>{{ getMpgEquivalent().toFixed(0) }} miles / gal</strong></span>
                    </div>
                </div>
                <br />
            </div>
            <!-- Metric Units -->
            <div *ngIf="unitSelection.value == 'metric'">
                <mat-form-field appearance="fill">
                    <mat-label>Cost per kWh ($ / kWh)</mat-label>
                    <input matInput placeholder="$ / kWh" [(ngModel)]="INPUT_COST_PER_KWH" type="number">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Range (km)</mat-label>
                    <input matInput placeholder="Kilometers" [(ngModel)]="INPUT_COST_KM" type="number">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Efficiency (Wh / km)</mat-label>
                    <input matInput placeholder="Efficiency (Wh / km)" [(ngModel)]="INPUT_COST_EFFICIENCY_KM" type="number">
                </mat-form-field>
                <br />
                <div *ngIf="!(INPUT_COST_PER_KWH == 0 || INPUT_COST_KM == 0 || INPUT_COST_EFFICIENCY_KM == 0)">
                    <div><strong>{{ getUsdCurrencyStringFromNumber(calculateCostFromEfficiency(INPUT_COST_PER_KWH, INPUT_COST_KM, INPUT_COST_EFFICIENCY_KM)) }}</strong> for <strong>{{ INPUT_COST_KM * INPUT_COST_EFFICIENCY_KM / 1000 }} kWh</strong></div>
                    <br />
                    <span>This is the energy same as in <strong>{{ getGasEquivalent(INPUT_COST_KM, INPUT_COST_EFFICIENCY_KM, Units.LITRES).toFixed(2) }} litres</strong> of gasoline, or <strong>{{ getDieselEquivalent(INPUT_COST_KM, INPUT_COST_EFFICIENCY_KM, Units.LITRES).toFixed(2) }} litres</strong> of Diesel.</span>
                    <br />
                    <br />
                    <h4>Compare to the cost of a fossil vehicle:</h4>
                    <mat-form-field appearance="fill">
                        <mat-label>Fuel Efficiency (L / 100km)</mat-label>
                        <input matInput placeholder="L / 100km" [(ngModel)]="INPUT_FOSSIL_L_PER_100KM" type="number">
                    </mat-form-field>
                    <br />
                    <div *ngIf="INPUT_FOSSIL_L_PER_100KM !== 0">
                        This is the equivalent if...
                        <br />
                        <span>- gasoline was <strong>{{ getGasPriceEquivalent(INPUT_COST_KM, INPUT_FOSSIL_L_PER_100KM, INPUT_COST_EFFICIENCY_KM, Units.KILOMETERS) }} / L</strong>,</span>
                        <br />
                        <span>- if your vehicle's efficiency was <strong>{{ getLitresPer100KmEquivalent(INPUT_COST_EFFICIENCY_KM).toFixed(1) }} L / 100km</strong></span>
                    </div>
                </div>
                <br />
            </div>
        </mat-card>
    </div>
    <!-- Footer -->
    <footer></footer>
</div>